{% extends 'index.html' %}



{% block headscript %}
    <script type="text/javascript">
        var duration = {{ duration  }};
        var samples = {{ samples }};
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='insightscharts.js') }}"></script>

{% endblock %}

{% block analytics %}
    class="active"
{% endblock %}


{% block body %}
    <div class="dashboard">

        <canvas id="sampleChart"></canvas>
    </div>
{% endblock %}

{% block script %}

{% endblock %}