<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard IOTA</title>
    <link href="{{ url_for('static', filename='reset.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename='dropdownbutton.js') }}"></script>


    {% block headscript %}

    {% endblock %}

    {#    <script type="text/javascript" src="{{ url_for('static',filename='bundle.js') }}"></script>#}


    {#    <script type="text/javascript" src="{{ url_for('static', filename='getData.js') }}"></script>#}
</head>
<body>

<aside class="sidebar">

    <h1>IOTA project</h1>

    <ul>

        <li class="analytics" {% block analytics %} {% endblock %}><a href="{{ url_for('analytics') }}"
                                                                      onmouseover="show_hide_dropdown();"
                                                                      class="analytics_link"><i class="triangle"></i>Analytics</a>
            <div class="dropdown-container">
                <a href="{{ url_for('graphsdaily') }}">day</a>
                <a href="{{ url_for('grahpsweekly') }}">week</a>
                <a href="{{ url_for('graphsmonthly') }}">month</a>
            </div>
        </li>

        <li  {% block transactions %} {% endblock %}><a href="{{ url_for('transactions') }}"><i
                class="fa fa-folder-open"></i>View Transactions</a></li>

        <li {% block settings %} {% endblock %}><a href="{{ url_for('logs') }}"><i class="fa fa-wrench"></i>Settings</a>
        </li>

    </ul>


</aside>


{% block body %}
{% endblock %}
{% block script %}

{% endblock %}


</body>
</html>