{% extends 'index.html' %}

{% block logs %}
    class="active"
{% endblock %}

{% block headscript %}

{% endblock %}


{% block body %}
    <div class="flex-container">




<div class="flex_child">
    <div class="flex_child_th sensorheader">sensorlog</div>
        <div id="sensorlogfile" class="logfile">
            <table class="logtable">

                <tbody>
                {% for line in sensorlog %}
                    <tr >
                        <td class="loglines">{{ line }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
</div>

<div class="flex_child">
        <div class="flex_child_th sensorheader">databaselog</div>

        <div id="databaselogfile" class="logfile">
            <table class="logtable">

                <tbody>
                {% for line in databaselog  %}
                <tr>
                    <td class="loglines">{{ line }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
</div>

    <div class="flex_child">
            <div class="flex_child_th sensorheader">Flask log</div>

        <div id="databaselogfile" class="logfile">
            <table class="logtable">

                <tbody>
                {% for line in flasklog  %}
                <tr>
                    <td class="loglines">{{ line }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>





    </div>
{% endblock %}

{% block script %}
{% endblock %}
