{% extends 'index.html' %}

{% block transactions %}
    class="active"
{% endblock %}


{% block body %}
    <div class="flex-container">
        <div class="flex_child_th ">Transactions</div>


        <div id="transaction-container" class="flex_child logfile">
            <table class="transactions">

                <tbody>

                {% for txs in table_html %}
                    <tr>
                        <td>{{ txs[0] }}</td>
                        <td>{{ txs[2] }}</td>
                        <td>{{ txs[3] }}</td>
                        <td>{{ txs[1] }}</td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

{% endblock %}

{% block script %}
{% endblock %}
