{% extends 'index.html' %}

{% block transactions %}
    class="active"
{% endblock %}


{%  block body %}
<div class="table_container">
<table class="transactions">
    <thead>
    <tr>
        <th scope="col">DateTime</th>
        <th scope="col">sensor</th>
        <th scope="col">value</th>
    </tr>
    </thead>
    <tbody>

    {% for txs in table_html %}
    <tr>
        <td>{{ txs[0] }}</td>
        <td>{{ txs[1] }}</td>
        <td>{{ txs[2] }}</td>

    </tr>
    {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}

{% block script %}
{% endblock %}
